body {
    height: 100vh;
    background: #1c6758;
  }
    
  .header-container {
    background: #1c6758;
    padding: 5px;
    grid-area: header-container;
    display: grid;
    grid-template-areas: "logo search calendar avatar";
    grid-template-columns: 10% 60% 15% 15%;
  }
  
  
  #logo {
    grid-area: logo;
    width: 90%;
  }
  
  
  .login-signin {
    background-color: #ff4800;
    border: 2px solid #000;
    outline: none;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    background: #ff4800;
    color: #fff;
    border: #fff;
  }
  .login-signin:hover {
    background-color: #ff4800af;
  }
  .logout {
    grid-area: avatar;
    justify-self: end;
  }
  /*  */
  
  main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
  }
  .center h1{
      text-align: center;
      font-size: 2rem;
    border-left: 5px solid #ff4800;
    padding: 10px;
    color: #000;
    /* letter-spacing: 5px; */
    margin-bottom: 30px;
    font-weight: bold;
    padding-left: 10px;
  }
  
  .center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
  }
  .center .inputbox input {
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid #000;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
  }
  
  .center .inputbox [type="button"] {
    width: 50%;
    background: #ff4800;
    color: #fff;
    border: #fff;
  }
  .center .inputbox:hover [type="button"] {
    background: #ff4800af;
  }
  
  .theButton {
    border: 2px solid #000;
    outline: none;
    width: 6rem;
    height: 3rem;
    border-radius: 10px;
    font-size: 1.2em;
    padding: 10px;
    background: #ff4800;
    color: #fff;
    border: #fff;
  }
  .theButton:hover {
    background: #ff4800af;
  }
  